# COGS 108 - Final Project

- Import all necessary libraries, then import csv and clean all unnecessary data

In [13]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import patsy
import statsmodels.api as sm
from scipy.stats import ttest_ind

- Read in randomly sampled crime data and drop all unrelevant columns

In [14]:
# This df_crime is complete with only na values dropped.
df_crime = pd.read_csv('./Data/incidents-100k.csv')
df_crime = df_crime[['date','is_night','type','lat','lon']]
df_crime = df_crime.dropna()
# print (df_crime)

- Check all crime types and remove all crimes that are not physical. We did this because we are relating street crimes locations with other factors such as street lamp location and unemployment rates which are location sensitive, thus all non-physical crimes are not relevant.

In [15]:
crime_type = df_crime['type'].value_counts()
print (crime_type)

DRUGS/ALCOHOL VIOLATIONS    23198
THEFT/LARCENY               13211
VEHICLE BREAK-IN/THEFT      12586
MOTOR VEHICLE THEFT         10621
BURGLARY                     8787
ASSAULT                      8012
VANDALISM                    7624
FRAUD                        5412
DUI                          4917
ROBBERY                      2243
SEX CRIMES                   2122
WEAPONS                       997
ARSON                         203
HOMICIDE                       67
Name: type, dtype: int64

- Remove FRAUD crimes

In [16]:
#This df_crime has fraud data and na data removed
df_crime = df_crime[df_crime.type != "FRAUD"]
print (df_crime)

             date  is_night                      type        lat         lon
0      2008-09-19         0                   WEAPONS  32.957337 -117.143777
2      2009-05-25         1                   ASSAULT  32.796761 -117.254577
3      2011-04-22         0  DRUGS/ALCOHOL VIOLATIONS  32.757287 -117.129870
4      2012-05-12         1                   ASSAULT  32.836098 -117.206645
5      2010-12-21         0                   ROBBERY  32.820347 -117.182419
6      2009-09-23         1                SEX CRIMES  32.707287 -117.158730
7      2008-10-12         1                  BURGLARY  32.836803 -117.208681
8      2008-06-06         0    VEHICLE BREAK-IN/THEFT  32.774932 -117.144025
9      2007-03-20         0  DRUGS/ALCOHOL VIOLATIONS  32.755078 -117.099457
10     2011-05-13         0    VEHICLE BREAK-IN/THEFT  32.791932 -117.126213
11     2011-09-12         1                     ARSON  32.749915 -117.162472
12     2007-03-16         1    VEHICLE BREAK-IN/THEFT  32.819463 -117.110901
13     2007-10-10         0                   ASSAULT  32.911808 -117.102657
14     2008-12-23         0  DRUGS/ALCOHOL VIOLATIONS  32.708885 -117.153727
15     2007-04-03         1  DRUGS/ALCOHOL VIOLATIONS  32.716243 -117.155610
16     2007-04-25         1       MOTOR VEHICLE THEFT  32.744593 -117.225853
17     2008-01-28         0                  BURGLARY  32.904084 -117.133818
18     2010-12-29         0                 VANDALISM  32.919065 -117.084075
19     2009-12-15         0       MOTOR VEHICLE THEFT  32.751673 -117.161503
20     2008-05-14         0                 VANDALISM  32.714144 -117.159247
21     2007-11-13         1    VEHICLE BREAK-IN/THEFT  32.576867 -117.024998
22     2012-07-19         0  DRUGS/ALCOHOL VIOLATIONS  32.707843 -117.148545
23     2010-02-03         1                SEX CRIMES  32.787687 -117.097248
24     2007-10-04         1    VEHICLE BREAK-IN/THEFT  32.795650 -117.237591
25     2008-05-16         1  DRUGS/ALCOHOL VIOLATIONS  32.772029 -117.252752
26     2009-02-16         1                       DUI  32.727536 -117.126406
27     2007-10-22         0             THEFT/LARCENY  32.738983 -117.173029
28     2010-11-09         1  DRUGS/ALCOHOL VIOLATIONS  32.553284 -117.042711
29     2007-04-10         1  DRUGS/ALCOHOL VIOLATIONS  32.753180 -117.101651
30     2007-02-23         1  DRUGS/ALCOHOL VIOLATIONS  32.757112 -117.084414
...           ...       ...                       ...        ...         ...
99970  2008-09-22         0  DRUGS/ALCOHOL VIOLATIONS  32.786403 -117.121536
99971  2007-04-27         1                  BURGLARY  32.724375 -117.078793
99972  2008-11-15         0                SEX CRIMES  32.901549 -117.112931
99973  2007-06-08         1       MOTOR VEHICLE THEFT  32.717113 -117.140284
99974  2007-07-04         1    VEHICLE BREAK-IN/THEFT  33.037848 -117.063215
99975  2011-04-22         0                   ROBBERY  32.686201 -117.049475
99976  2010-07-20         1                  BURGLARY  32.763805 -117.135146
99977  2011-09-28         1                   ASSAULT  32.707843 -117.148545
99978  2008-01-08         1                       DUI  32.710428 -117.157835
99979  2012-05-06         0    VEHICLE BREAK-IN/THEFT  32.906816 -117.175656
99980  2007-04-15         1                       DUI  32.769744 -117.195219
99981  2007-06-21         0                 VANDALISM  32.966468 -117.098567
99982  2010-10-16         0             THEFT/LARCENY  32.748458 -117.133741
99983  2011-06-05         0    VEHICLE BREAK-IN/THEFT  32.750490 -117.096569
99984  2012-12-07         0       MOTOR VEHICLE THEFT  32.730591 -117.100959
99985  2007-11-28         1  DRUGS/ALCOHOL VIOLATIONS  32.708511 -117.126322
99986  2009-05-09         0             THEFT/LARCENY  32.883068 -117.154352
99987  2010-02-07         0  DRUGS/ALCOHOL VIOLATIONS  32.565826 -117.063186
99988  2011-05-24         1                  BURGLARY  32.879570 -117.160608
99989  2009-04-18         0  DRUGS/ALCOHOL VIOLATIONS  32.718272 -117.221185
99990  2009-08-15         0    VEHICLE BREAK-IN/THEFT  32.762999 -117.127912
99991  2011-06-10         0             THEFT/LARCENY  32.719377 -117.160189
99992  2008-01-17         1    VEHICLE BREAK-IN/THEFT  32.744389 -117.220570
99993  2007-03-14         1       MOTOR VEHICLE THEFT  32.545436 -117.043212
99994  2009-11-14         1  DRUGS/ALCOHOL VIOLATIONS  32.711495 -117.159666
99995  2009-11-14         1    VEHICLE BREAK-IN/THEFT  32.731875 -117.165752
99996  2012-03-11         1       MOTOR VEHICLE THEFT  32.586207 -117.016643
99997  2010-11-12         1  DRUGS/ALCOHOL VIOLATIONS  32.731123 -117.097050
99998  2008-08-12         0             THEFT/LARCENY  32.814715 -117.062826
99999  2008-06-08         1                 VANDALISM  32.802782 -117.218064

[94588 rows x 5 columns]

- Next we import street_light data. We do not need to remove any additional rows

In [17]:
# This df_lights has only lat and lon data with na dropped.
df_lights = pd.read_csv('./Data/street_lights.csv')
df_lights = df_lights[['lat','lon']]
df_lights = df_lights.dropna()
print (df_lights)

             lat         lon
0      32.766618 -117.236854
1      32.766391 -117.234878
2      32.727515 -117.158183
3      32.725645 -117.154312
4      32.719670 -117.108944
5      32.719685 -117.108724
6      32.719280 -117.109084
7      32.719316 -117.108864
8      32.757065 -117.146967
9      32.756942 -117.146445
10     32.756748 -117.146439
11     32.756396 -117.146444
12     32.796264 -117.082365
13     32.796625 -117.081877
14     32.796722 -117.081907
15     32.795939 -117.082294
16     32.795658 -117.081646
17     32.794265 -117.080834
18     32.794242 -117.080516
19     32.793862 -117.081514
20     32.763081 -117.117993
21     32.763031 -117.117450
22     32.805300 -117.147254
23     32.805712 -117.147033
24     32.805524 -117.147407
25     32.679223 -117.036293
26     32.679638 -117.035682
27     32.680097 -117.034970
28     32.680408 -117.035497
29     32.680169 -117.035546
...          ...         ...
48425  32.752595 -117.250439
48426  32.727885 -117.158092
48427  32.728718 -117.157581
48428  32.717025 -117.123683
48429  32.779072 -117.211898
48430  32.765017 -117.131546
48431  32.783930 -117.208908
48432  32.751058 -117.101871
48433  32.710492 -117.165403
48434  32.757963 -117.127603
48435  32.778743 -117.249756
48436  32.742890 -117.119413
48437  32.874183 -117.205410
48438  32.874366 -117.205438
48439  32.901732 -117.122810
48440  32.879023 -117.176237
48441  32.879052 -117.174897
48442  32.808128 -117.124743
48443  32.808003 -117.124455
48444  33.016206 -117.148265
48445  32.732978 -117.228377
48446  32.734833 -117.093489
48447  32.759096 -117.117972
48448  32.721571 -117.165501
48449  32.706427 -117.066665
48450  32.729824 -117.172334
48451  32.897775 -117.143868
48452  32.994661 -117.117880
48453  32.995370 -117.117264
48454  32.792494 -117.054855

[48455 rows x 2 columns]

- Next we import census tracts

In [18]:
# This df_census has only relevant info with na dropped.
df_census = pd.read_csv('./Data/sandiegocensustract.csv')
df_census = df_census[['SingMother','PovertyRt','TotalPopulation','Longitude','Latitude','PollutionBurdenScore','Education','Unemployment']]
df_census = df_census.dropna()
print (df_census)

     SingMother  PovertyRt  TotalPopulation   Longitude   Latitude  \
1      0.221421      0.370           3479.0 -117.170098  33.141805
2      0.048000      0.151           2875.0 -117.138174  32.717632
3      0.198259      0.428           4115.0 -117.138140  32.708456
4      0.317631      0.469           3250.0 -117.116515  32.690986
5      0.150833      0.186           6810.0 -117.358627  33.211511
6      0.159590      0.190           4765.0 -117.053978  33.133471
7      0.166667      0.188           4147.0 -117.249598  33.208474
8      0.139986      0.260           5715.0 -117.240665  33.207787
9      0.224571      0.377           3079.0 -117.107411  32.692937
10     0.011771      0.079           3711.0 -117.349985  33.154791
11     0.058417      0.175           4819.0 -117.189465  33.139222
13     0.012237      0.125           3849.0 -117.235014  32.789837
14     0.010101      0.166           3669.0 -117.163058  32.753332
15     0.057279      0.480           7140.0 -117.152808  32.703738
16     0.094324      0.197           3592.0 -117.275994  33.196565
17     0.212894      0.452           1858.0 -117.145075  32.708389
18     0.143658      0.476           5143.0 -117.084424  33.127011
19     0.251493      0.342           5560.0 -117.077951  33.114298
20     0.180074      0.124           5614.0 -117.237259  33.215823
21     0.051571      0.126           5724.0 -117.224340  32.803904
22     0.100987      0.310           3861.0 -117.178828  32.778288
23     0.229388      0.403           4946.0 -117.113490  32.698600
24     0.048276      0.260           6546.0 -117.129249  32.714833
25     0.044164      0.223           5127.0 -117.069255  33.144675
26     0.000000      0.408           1948.0 -117.162561  32.725282
27     0.157981      0.244           6864.0 -117.177940  32.790827
28     0.012433      0.123           2821.0 -117.164267  32.729343
29     0.095278      0.269           6847.0 -117.370238  33.189692
30     0.091659      0.174           6702.0 -117.064017  33.133533
31     0.005666      0.188           1940.0 -117.144902  32.715185
..          ...        ...              ...         ...        ...
590    0.015608      0.092           3882.0 -117.198252  32.771292
591    0.004592      0.013           5266.0 -116.787580  33.034810
592    0.044059      0.057           5392.0 -117.245816  32.825317
593    0.058342      0.042           5810.0 -117.045904  32.989533
594    0.010737      0.025           6600.0 -117.250278  32.951603
595    0.065700      0.041          13748.0 -117.209222  32.926018
596    0.023710      0.060           5316.0 -117.104372  32.905052
597    0.038347      0.016          13593.0 -117.104427  33.008998
598    0.057464      0.085           4973.0 -117.211881  33.019864
599    0.036798      0.063           4941.0 -117.278705  33.081224
600    0.033476      0.105           3018.0 -117.263628  33.001813
601    0.030534      0.140           9314.0 -117.252776  33.077977
602    0.000000      0.072           2416.0 -117.068221  33.015995
603    0.018361      0.209           3141.0 -117.233409  32.858973
604    0.084564      0.025           8846.0 -117.188965  32.951106
605    0.034706      0.110           4447.0 -117.311734  33.163745
606    0.009535      0.556           3068.0 -117.083790  32.775535
607    0.048319      0.013           3879.0 -116.989361  32.769264
608    0.012087      0.034           3029.0 -117.185894  32.753005
609    0.033399      0.007           2884.0 -117.263326  32.825321
610    0.121340      0.107          37452.0 -117.420557  33.351059
611    0.041123      0.086           3022.0 -117.275750  32.845504
612    0.055654      0.050           5775.0 -117.242097  32.967798
613    0.057766      0.051           3679.0 -117.195642  32.787802
614    0.041109      0.037           4301.0 -117.066506  33.003708
615    0.053430      0.039           3354.0 -117.104299  32.769915
617    0.074367      0.088           5087.0 -117.109307  32.817116
618    0.041551      0.075           4894.0 -117.030735  32.798451
620    0.041386      0.033           3364.0 -117.031538  33.001207
621    0.043850      0.069           3391.0 -117.156137  32.657202

     PollutionBurdenScore  Education  Unemployment
1                3.410794       55.1          4.31
2                4.277644       18.0          5.66
3                4.593304       47.0         10.62
4                6.646059       65.3         17.84
5                4.675128       35.6          8.64
6                3.218052       47.8         12.91
7                3.045434       55.6         11.52
8                3.147138       60.5          8.69
9                4.870778       58.7         12.67
10               3.148714        1.4          7.33
11               6.178146       35.0          5.68
13               2.514971        1.5         11.17
14               4.753679        3.0          6.62
15               6.501927       21.6         25.23
16               3.398308       32.7         10.71
17               5.678595       38.4         16.50
18               4.795137       60.1          6.41
19               4.096783       57.5          6.89
20               2.716804       37.6         10.07
21               3.881010        7.3          8.39
22               4.385410       32.8          8.10
23               5.368390       57.5         20.13
24               5.608287       17.7          6.79
25               3.588261       38.0          6.93
26               5.555192       14.7         19.77
27               3.845734       34.0         11.36
28               5.224138        1.8          6.27
29               4.217883       37.7          7.34
30               3.976653       39.3          8.47
31               6.509322        9.8          4.61
..                    ...        ...           ...
590              5.513371        1.5         10.14
591              3.520135        2.5         11.36
592              3.755546        1.6          2.50
593              3.371882        5.5          7.09
594              3.744757        2.7          3.72
595              5.452033        2.6          3.92
596              5.542221        2.4          7.92
597              4.907751        2.9          4.41
598              4.575363        0.6          9.77
599              5.250564        3.1          7.02
600              4.153757        2.5          6.56
601              3.696511        2.5          7.88
602              4.004897       10.0         15.78
603              4.093631        0.9          4.74
604              4.416079        3.7          3.58
605              3.714452        3.5          6.10
606              5.654351        3.3          7.49
607              4.312435        1.1          4.14
608              5.295173        1.1          8.34
609              2.097243        1.8          9.49
610              6.481199        0.8         19.80
611              2.874148        1.3          6.07
612              3.638810        3.6          3.48
613              4.274129        5.5         10.48
614              2.714985        3.5          3.04
615              4.849444        4.0          5.39
617              5.216501        2.1         12.40
618              3.303271        3.9          3.10
620              2.903605        5.2          4.95
621              4.685795        1.6         13.31

[616 rows x 8 columns]

- Next we get alcohol permit data

In [19]:
# This df_alc only has lat and lon data with na dropped.
df_alc = pd.read_csv('./Data/abs-licenses-casnd.csv')
df_alc = df_alc[['lat','lon']]
df_alc = df_alc.dropna()
print (df_alc)

            lat         lon
0     32.777847 -117.248361
1     32.916755 -117.123423
2     32.701524 -117.113723
3     32.749524 -117.117612
4     32.800508 -117.236281
5     32.788560 -117.237149
6     32.711729 -117.104456
7     32.651772 -117.097562
8     25.945487 -136.178773
9     32.701503 -117.115966
10    33.170043 -117.096125
11    33.129334 -117.089836
12    33.043428 -117.294747
13    32.748128 -117.148553
14    32.705522 -117.134833
15    33.099189 -117.002897
16    32.798226 -117.220333
17    25.945487 -136.178773
18    32.913865 -117.130063
19    32.593614 -117.046372
20    33.202693 -117.388922
21    33.198923 -117.364572
22    32.742869 -117.041554
23    32.977668 -117.230363
24    33.034459 -117.063417
25    33.032768 -117.273133
26    32.719575 -117.173374
27    25.945487 -136.178773
28    32.625898 -117.031158
29    33.046785 -116.633057
...         ...         ...
4957  33.121530 -117.082569
4958  32.795212 -116.960862
4959  33.094793 -117.056463
4960  25.945487 -136.178773
4961  32.741053 -117.252100
4962  33.063621 -117.302312
4963  32.960094 -117.111876
4964  33.159105 -117.346298
4965  33.093716 -117.058201
4966  33.094793 -117.056463
4967  32.894367 -117.201096
4968  32.740499 -117.229039
4969  33.135193 -117.190887
4970  32.956946 -117.027028
4971  32.651754 -117.097555
4972  32.951369 -117.061301
4973  32.765696 -117.196225
4974  25.945487 -136.178773
4975  33.177300 -117.339679
4976  33.135853 -117.121085
4977  32.977668 -117.230363
4978  32.641850 -116.992346
4979  32.726228 -117.169059
4980  25.945487 -136.178773
4981  32.978417 -117.250596
4982  32.726228 -117.169059
4983  32.668309 -117.107164
4984  32.953331 -117.232644
4985  32.789572 -117.022490
4986  33.127880 -117.083809

[4987 rows x 2 columns]

- Here we count the crimes that match street light locations. After downsizing our sample 100x, we found that crimes do not happen under street lights. The count we found was 0. Later we will increase the sample size for a more accurate results.

In [20]:
### This is O(n^2) loop that is too slow.
# def check_lat_lon(a, b):
#     return abs(a-b) <= 0.0001
# count = 0
# for i_1, r_1 in df_crime.iterrows():
#     for i_2, r_2 in df_lights.iterrows():
#         if(check_lat_lon(r_1['lat'],r_2['lat']) and check_lat_lon(r_1['lon'],r_2['lon'])):
#             count += 1
            
# This is crime and lights data with lat and lon truncated to 4 digits after the decimal and also night only crime data. Also save untruncated crime night only.
df_crime_trun4 = df_crime.round({'lat': 4, 'lon':4})
df_crime_night = df_crime[df_crime['is_night'] == 1]
df_crime_trun4_night_only = df_crime_trun4[df_crime_trun4['is_night'] == 1]
df_lights_trun4 = df_lights.round({'lat': 4, 'lon':4})
# print (df_crime_trun4_night_only)

# This is crime data with only lat and long truncated to 4 digits and night only data.
df_crime_trun4_night_only = df_crime_trun4_night_only[['lat','lon']]

# Since our loop will take too long we have to sample only 8k data from crimes and 485 from street lights (downsized 100 times)
df_crime_rand_trun4_night_only = df_crime_trun4_night_only.sample(8000)
df_lights_rand_trun4 = df_lights_trun4.sample(485)
# print (df_crime_rand_trun4_night_only)



# new loop
# counter = 0
# count = 0
# for i_1, r_1 in df_crime_rand_trun4_night_only.iterrows():
#     counter += 485
#     print (counter)
#     for i_2, r_2 in df_lights_rand_trun4.iterrows(): 
#         if(r_1['lat'] == r_2['lat'] and r_1['lon'] == r_2['lon']):
#             count += 1


# print (count)

- Here we visualize the crimes that happen at night, street lamp locations, and alcohol permit locations

In [21]:
# import gmap functions
import gmaps
import gmaps.datasets
from itertools import product
gmaps.configure(api_key = "AIzaSyD7PjQ3edhgPcImWTk5lCcnJPyX7U_u0KU")

In [22]:
##### plot all night crimes
numpy_crime_array = list(zip(df_crime_night['lat'].tolist(), df_crime_night['lon'].tolist()))
# print (numpy_crime_array)
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(numpy_crime_array))
fig

In [23]:
##### plot all street lamp locations
numpy_light_array = list(zip(df_lights['lat'].tolist(), df_lights['lon'].tolist()))
# print (numpy_crime_array)
fig2 = gmaps.figure()
fig2.add_layer(gmaps.heatmap_layer(numpy_light_array))
fig2

In [24]:
##### plot all alcohol permit locations  !!!!!temp set to 1000, as original is too laggy!!!!
# print (df_alc)
# numpy_alc_array = list(zip(df_alc['lat'].tolist(), df_alc['lon'].tolist()))
# print (numpy_crime_array)

alc_layer = gmaps.symbol_layer(df_alc.sample(1000),fill_color="green",stroke_color="green", scale=2)
fig3 = gmaps.figure()
fig3.add_layer(alc_layer)
fig3.add_layer(gmaps.heatmap_layer(numpy_crime_array))
fig3